<% provide(:title, "about") %>
<div class="row">
  <div class="col-md-6">
    <div class="center jumbotron">
      <h2>アプリ紹介</h2>
      <p>このアプリは沖縄そばのお店や、</p>
      <p>味などのレビューを投稿し閲覧できるアプリです。</p>
      <p>お気に入りのお店情報を投稿しましょう。</p>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="about-main2">
    </div>
  </div>
</div>
