<% provide(:title, "Top") %>
<html>
  <head>
    <title><%= yield(:title) %> | AttendanceApp</title>
  </head>
</html>

<div class="main top-main">
  <div class="top-message">
    <h2>沖縄そば店投稿アプリ</h2>
  </div>
</div>