<% provide(:title, "Top") %>
<html>
  <head>
    <title><%= yield(:title) %> | AttendanceApp</title>
  </head>
</html>

<div class="main top-main">
  <div class="top-message">
    <h2>沖縄そば投稿アプリ</h2>
    <%= link_to "サインアップ", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>